.card, .cardBack {
  border: 2px solid black;
  border-radius: 5%;
  max-width: 200px;
  display: inline-block;
}

.cardBack {
  background: url('../public/assets/back.png') no-repeat local;
  min-width: 100px;
  min-height: 200px;
}

.cardStack {
  display: inline-block;
}

[texture='banana'] {
  background: url('../public/assets/textures/banana.png') no-repeat local;
}
[texture='water'] {
  background: url('../public/assets/textures/waterbottle.png') no-repeat local;
}
[texture='raincheck'] {
  background: url('../public/assets/textures/raincheck.png') no-repeat local;
}
[texture='sad'] {
  background: url('../public/assets/textures/sadmemory.png') no-repeat local;
}
[texture='reward'] {
  background: url('../public/assets/textures/reward.png') no-repeat local;
}

.hand {
  border: 5px solid black;
  border-radius: 5%;
  width: 70%;
  display: inline-block;
}

.deck {
  border: 5px solid black;
  border-radius: 5%;
  width: 10%;
  display: inline-block;
}

.discard {
  border: 5px solid black;
  border-radius: 5%;
  width: 10%;
  display: inline-block;
}